


body{
background-color:white;
width: auto;

}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

nav {
    width: 600px;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

#logoSpotify{
    width: 150px;

}

#section1{
    
    text-align: center;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
     
}

h1{
    position: absolute;
    top: 20%;
    left: 35%;
    color: white;
    font-size: 50px;
}

h3{
    text-align: center;
    
}



#firstText{

    position: absolute;
    top: 35%;
    left: 30%;
    color: white;
    font-size: 25px;

}

#party{
    width: 1250px;
    height: 600px;
}

#section2{

    width: 1250px;
    height: 400px;



}
h2{
    text-decoration: underline green;
    text-align: center;
    margin-right: 2%;
    padding-top: 20px;
}

h4{
    color: green;
}

#options{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    
}

.title{
    color:green
}

#section2>div>div>img{
    align-items:center;
    width: 70px;
    height: 70px;
}

h3{
    text-align: left;
    text-decoration: underline;
    
}
#section3{
    display: flex;
    align-content: stretch;
    text-align: center;
    justify-content: space-around;
    background-color: Green;
    width: 1000px;
    height: 500px;
    margin:auto;

}

.secondtitle{
    color: white;
}

#section3>div{
    padding-top: 20px;
    text-align: start;
    color: white;
    
}

#white-icon{
    margin-top: 250px;
    width:70px;
    height: 70px;

}

#app{
    padding: 40px 0 25px 0;
}



